{%extends 'base.html'%}
{%block title%}about{%endblock title%}

{%block body%}
<link rel="stylesheet" href="static/style.css/act.css">

<div id="about-us">
     <img src="https://source.unsplash.com/1200x400/?aboutus,books" class="card-img-top" alt="...">
        <div id="about-us-in">
        <h3>About us</h3>
        <p>This is our best websie of books anyone can purchase books from here. we are trying to easy your efforts.</p>
    </div>
        <img src="https://source.unsplash.com/1200x400/?aboutus,books" class="card-img-top" alt="...">
        </div>
    </div>
    {%endblock body%}