{% extends 'base.html' %}
{%block title%}search {%endblock title%}

{%block body%}


<div class="container my-3">
 <h1 class="my-2"> search results:</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
    {% for n in products %}
    <div class="col">
      <div class="card shadow-sm">
        <img src="media/{{n.image}}" class="d-block w-70" alt="images" height="150">
        <div class="card-body">
          <p class="card-text">{{n.book_title}}</p>
        
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button id="pr{{n.id}}" type="button" class="btn btn-sm btn-outline-secondary cart">Add to cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">{{n.price}}rs</button>
            </div>
            </div>
        </div>
      </div>
    </div>
    {% empty %}
   <h2>No record found</h2> 
    {% endfor %}
    {%endblock body%}
